<!DOCTYPE html>
<html>
<head>
  <title>TextbookWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

<!--New header-->
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%=link_to "KAVY HOME", root_path, id: "logo" %>
			<nav>
				<ul class="nav nav-pills pull-right">
					<li><%= link_to "Home", root_path %></li>
					<% if sign_in? %>
					<li><%= link_to "User", '#' %></li>
					<li id= "fat-menu" class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">
						<%= current_user.name %>
						<b class="caret"></b></a>
						<ul class="dropdown-menu">
            				<li><%= link_to "Profile", current_user %></li>
            				<li><%= link_to "Settings", edit_user_path(current_user.id) %></li>
            				<li class="divider"></li>
            				<li><%= link_to "Sign out!", session_path(current_user.id), method: 'delete' %></li>   
            			</ul>

					</li>
					<% else %>
					<li><%= link_to "Sign in!", new_session_path %></li>
					<% end %>





				</ul>
			</nav>
		</div>
	</div>

</header>
<!--New header-->
<div class="container">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%=key%>"> <%=value %></div>
	<% end %> 

	<%= yield %>

	<!--New footer-->
	<footer>
		<small>
			<%=link_to "Facebook", "https://www.facebook.com/chingkai.chou" %>
		</small>
		</footer>
		<br>
		<!--Debug mode-->
		<%= debug(params) if Rails.env.development? %>
	</footer>
</div>



</body>
</html>
